.contact-container {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.contact {
  padding: 1rem;
  background-color: #e2e2e2;
  color: #181818;
  font-weight: bold; }
  .contact h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 1rem; }

.contactForm {
  text-align: center; }
  .contactForm .legend {
    font-size: 1.5rem; }
  .contactForm input, .contactForm textarea {
    padding: 15px;
    border: 1px solid #cccccc;
    margin: 5px;
    font-size: 15px;
    display: block;
    width: 100%; }
  .contactForm .button {
    background-color: #212529;
    color: #cccccc;
    padding: 1rem 0;
    margin: 1rem 0;
    cursor: pointer; }
    .contactForm .button:hover {
      background-color: #aa2b15;
      transition: 0.3s; }

.contactInfo {
  margin-top: 4rem;
  margin-bottom: 5rem;
  text-align: start; }
  .contactInfo p {
    margin: 3rem 0;
    font-size: 1.2rem; }
  .contactInfo img {
    width: 100%;
    padding-top: 1rem; }
  .contactInfo h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    text-align: center; }

.social {
  text-align: center; }
  .social a {
    color: #6b6b6b;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    margin: 0 1rem; }
    .social a:hover {
      color: #aa2b15;
      transition: ease 0.2s; }

@media screen and (min-width: 600px) {
  .contactForm {
    padding: 0 3rem; }
    .contactForm input, .contactForm textarea, .contactForm .button {
      padding: 1rem;
      margin: 1rem;
      font-size: 1rem; }
  .contactInfo {
    padding: 0 4rem; }
    .contactInfo p {
      font-size: 1.5rem; }
    .contactInfo h3 {
      font-size: 2rem; }
  .social a {
    font-size: 2rem; } }

@media screen and (min-width: 1024px) {
  .contact {
    display: grid;
    grid-template-columns: 4fr 2.5fr;
    align-items: center; }
  .form-container {
    display: grid;
    grid-template-areas: "input-a input-b" "input-c input-d" "textarea-a textarea-a";
    gap: 1rem; }
  .input-a {
    grid-area: input-a; }
  .input-b {
    grid-area: input-b; }
  .input-c {
    grid-area: input-c; }
  .input-d {
    grid-area: input-d; }
  .text-a {
    grid-area: textarea-a; }
  .contactForm legend, .contactForm input, .contactForm textarea {
    font-size: 1.3rem;
    padding: 1.5rem; }
  .contactInfo {
    margin: 5rem 3rem; }
    .contactInfo p {
      font-size: 1.5rem; }
    .contactInfo h3 {
      font-size: 2rem;
      margin: 1rem 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #ffffff; }
