@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import "./pages/util";
@import "./pages/animations";
@import "./pages/contact";
@import "./pages/main";
@import "./pages/about";
@import "./pages/app";
@import "./pages/testimonials";


* {
    @include reset;
}

body {
    @include body

}

header{
    grid-area: header;
    ul{
        li{
            a{
                &:hover{
                    color: $color-red !important;
                    transition: 0.2s;
                }
                &.active{
                    color: $color-red-light !important;
                }
            }
        }
    }
}
.navbar-brand img{
    width: 250px !important;
}

footer{
    display: flex;
    flex-direction: column;
    grid-area: footer;
    width: 100%;
    background-color: $color-dark-uno;
    padding: 10px 0;
    color: $color-light-dos;
    text-align: center;

    p{
        padding: 5px;
        font-size: 0.9rem;
    }
    a{
        color: $color-light-dos;
        text-decoration: none;
        font-size: 1.5rem;
        &:hover{
            color: $color-red-light !important;
        }
    }
}

@media screen and(min-width:600px) {

    footer{
        flex-direction: row;
        justify-content: space-around; 
        p{
            font-size: 1.3rem;
        }
    }
}

@media screen and (min-width:1024px) {
    footer{
        p{
            font-size: 1.4rem;
        }
    }
}





