

// Colores

$color-white: #ffffff;
$color-light-dos: #f0f0f0;
$color-light-tres: #cccccc;
$color-gray: #6b6b6b;
$color-dark-uno:#212529;
$color-dark-dos: #181818;
$color-red:#aa2b15;
$color-red-light: #ce3f26;
$bg-linear: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img01.jpg");

// Breakpoints

$bp-tablet: 600px;
$bp-pc: 1024px;

// Extends
%btn-primary{
    background-color: $color-dark-uno;
    color: $color-light-tres;
    padding: 1rem 0;
    margin: 1rem 0;
    cursor: pointer;
    border: none;
    &:hover{
        background-color: $color-red; 
           transition: 0.3s;
    }
}

%icon{
    color: $color-gray;
        font-size: 2rem;
        text-decoration: none;
        font-weight: bold;
        margin: 0 1rem;

        &:hover{
            color: $color-red;
            transition: ease 0.2s;
        }
}

%bg-img{
    padding: 20px 20px;
    text-align: center;
    color: $color-white;
    background-image: $bg-linear;
    background-repeat: no-repeat;
    background-size: cover;
}

// Mapas

$input:(
    padding: 15px,
    border: 1px solid $color-light-tres,
    font: 15px,
    display: block,
    width: 100%,
    margin: 10px 0
);


// Mixin

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin body {
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}
