// Colores

$color-light-dos: #e2e2e2;
$color-light-tres: #cccccc;
$color-gray: #6b6b6b;
$color-dark-uno:#212529;
$color-dark-dos: #181818;
$color-red:#aa2b15;

// Breakpoints

$bp-tablet: 600px;
$bp-pc: 1024px;